<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
</head>
<body>
<link href='stylesheet.css' rel='stylesheet' type='text/css'>

<div style="margin-top: 100px" class="login">
  <div style="margin-bottom: 50px" class="login-header">
        <a href="">
            <img alt="" src="logo.png" width="200px">
        </a>
  </div>
  <h1 style="text-align: center; font-size: 25px; margin-top: -30px; padding-bottom: 30px">Password Reset</h1>
  <div class="login-form">
    <h3>Username</h3>
    <input type="text" placeholder="School Email/Index Number"/><br>
    <br>
    <input type="button" value="Reset Password" class="login-button"/>
    <br>
    <h6 class="password-reset"><a href="index.html">Back To Home</h6>
  </div>
</div>

</body>
</html>



