<!DOCTYPE html>
<html>
<head>
	<title>Course Rep Login</title>
  <script type="text/javascript">
    function buttonclick () {
      window.location="#";
    }
  </script>
</head>
<body>
<link href='stylesheet.css' rel='stylesheet' type='text/css'>

<div style="margin-top: 100px" class="login">
  <div style="margin-bottom: 50px" class="login-header">
        <a href="">
            <img alt="" src="logo.png" width="200px">
        </a>
  </div>
  <h1 style="text-align: center; font-size: 25px; margin-top: -30px; padding-bottom: 30px">Course Rep Login</h1>
  <div class="login-form">
    <h3>Index Number</h3>
    <input type="text" placeholder="Index Number"/><br>
    <h3>Password</h3>
    <input type="password" placeholder="Password"/>
    <br>
    <input type="button" value="Login" class="login-button" onclick="buttonclick()" />
    <br>
    <h6 class="password-reset"><a href="passwordreset.html">Forgotten password?</h6>
    <h6 class="password-reset"><a href="index.html">Back To Home</h6>
  </div>
</div>

</body>
</html>



